<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Foda-se: Ligue e seja feliz!</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <h1><%= image_tag 'logo.png' %></h1>
      <%= yield %>
    </div>
  </body>
</html>
